<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <title>About us</title>
    <style>
        h1{
            font-family: 'Poppins', sans-serif;
            color: white;
            padding: 20px 0px 20px 20px;
        }
        p{
            color: white;
            padding-left: 20px;
            font-size: 18px;
        }
    </style>
</head>
<body style="background-image: url('{%static 'img/home.jpg'%}'); background-size: cover;">
    <h1><b>Personal Expense Tracker</b></h1>
    <p>Personal expense tracker is a tool designed to help individuals monitor and manage their personal
        finances. It allows you to track your income, expenses, and savings in a centralized platform, providing
        a clear overview of your financial situation. With Personal expense tracker, you can set budgets and 
        financial goals, track your spending habits over time, and generate reports and visualizations that 
        provide insights into your financial health.</p>
    <p>By consistently using this application, you can develop better financial habits, identify areas
       where you can save money, and make adjustments to your spending and saving behaviors. It helps you stay 
       organized, accountable, and in control of your personal finances.</p>
    <p>Made By:-</p>
    <p>Rajat Naik</p>
    <p style="padding-top: 16px;">Charts made using:&nbsp; <a class="link link-info" href="https://www.chartjs.org/docs/latest/" target="_blank">Chart.js</a></p>
</body>
</html>